@charset "utf-8";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  display: block;
  text-decoration: none;
  color: #223222;
}
li {
  list-style: none;
}
main {
  width: 1200px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
header {
  position: relative;
  background-color: lightcyan;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
}
.logo > img {
  width: 200px;
  height: 40px;
}
.mainMenu {
  background-color: lightgreen;
  position: absolute;
  width: 800px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: flex;
  right: 20px;
  bottom: 0;
}
.mainMenu a {
  background-color: lightblue;
  width: 25%;
 padding: 10px;
}
.mainMenu a:hover {
  background-color: lemonchiffon;
}
.subMenu {
  background-color: lightskyblue;
  position: absolute;
  top: 39px;
  display: flex;
  width: 800px;
  justify-content: space-between;
  z-index: 1;

}
.subMenu > ul {
  width: 25%;
  text-align: center;
  z-index: 1;
}
.subMenu > ul > li {
  padding: 20px 0;
  z-index: 1;
}
.subMenu > ul > li:hover {
  background-color: lightgreen;
}
/* .slide {
  position: relative;
  width: 1200px;
  height: 300px;
  overflow: hidden;
}
.slide > a >img {
  position: absolute;
  height: 100%;
} */
.section_1 {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.img_box {
  width: 3600px;
  height: 100%;
  position: absolute;
  display: flex;
}

.img_box > a > img {
  width: 1200px;
  height: 100%;
}

.contents {
  position: relative;
  width: 1200px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.contents div {
  width: 33.3%;
}
.notice > a {
  text-align: center;

  background-color: #eeeeee;
  width: 85px;
  padding: 6px;
}


.notice > ul {
  background-color: lightgoldenrodyellow;
  height: 168px;
}
.notice > ul > li {
  padding: 10px;
}
.notice > ul > li:nth-child(even) {
  background-color: lightblue;
}
.notice > ul > li:hover {
  background-color: lightskyblue;
}
.noticetext{
  float: right;
}
.gallery {
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: lightgoldenrodyellow;
  height: 168px;
  left: 35.5%;
}
.gallery > a {
  position: absolute;
  top: -32px;
  text-align: center;
  background-color: #eeeeee;
  width: 85px;
  padding: 6px;

}
.gallery > div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 110px;
}
.gallery > div > img:nth-child(1) {
width: 110px;
height: 110px;
position: absolute;
top: 30px;
left: 10px;
}
.gallery > div > img:nth-child(2) {
  width: 110px;
height: 110px;
  position: absolute;
  top: 30px;
  left: 145px;
  }
  .gallery > div > img:nth-child(3) {
    width: 110px;
  height: 110px;
    position: absolute;
    top: 30px;
    left: 280px;
    }
    .gallery > div > img:hover {
      opacity: 40%;
    }
   .banner {
    position: absolute;
    right: -49px;
   } 

footer {
  width: 1200px;
  height: 100px;
  background-color: lightskyblue;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
