@charset "utf-8";
/*!  초기화  !*/
*{padding: 0; margin: 0; box-sizing: border-box;}
a{display: block; text-decoration: none; color: #333333;}
li {list-style: none;}
html body {background-color: #ffffff; color: #333333;}

/*!  main   !*/
main {
  position: relative;
  width: 1000px;
  height: 650px;
  overflow: hidden;
  background-color: #ffffff;
}
header {
  float: left;
  width: 200px;
  height: 650px;
  margin-right: 10px;
  background: #eeeeee;
}
.logo{
  padding:30px 0;
 /*! 지울 것 !*/
  align-items: center;
}

.logo img {
  width:200px; 
  height:40px; 
}
.menu {
  width: 100%;
  text-align: center;
}
.navi > li {
  width: 100%;
  position: relative;
}
.navi > li > a {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
  background: #222328;
  color: #eeeeee;
}
.navi > li > a:hover {
  background-color: #ffffff;
  color: #222328;
}
.subMenu {
  display: none;
  width: 200px;
  position: absolute;
  top: 0;
  left: 200px;
  z-index: 1;
}
.subMenu > li >a {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  background-color: #222328;
  color: #ffffff;
}
.subMenu > li > a:hover {
  background-color: #ffffff;
  color: #222328;
}
.footerlogo {
  position: absolute;
  bottom: 0;
  padding:30px 0;
  align-items: center;
}
.footerlogo img {
  width: 200px;
  height: 40px;
}
.bodyWrap {
  float: left;
  width: 790px;
}
.imgSlide {
  position: relative;
  width: 100%;
  height: 350px;
  background: #eeeeee;
}
.imgSlide > a {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: all 3s;
}
.imgSlide > a > img {
  height: 100%;
}
.imgText {
  position: absolute;
  left: 50%;
  top: 40%;
  margin: -10px -160px;
  background: rgba(238,187,204,0.7);
  color: #000000;
  padding: 16px 100px;
  font-weight: bold;
}
.contents {
  justify-content: space-around;
  position: relative;
  display: flex;
  width: 790px;
  
}
.contents div {
  width: 33.3%;
  
}
.notice {
  position: relative;
  display: flex;
}
.notice > a:nth-child(1) {
  position: absolute;
  top: 5px;
  background-color: rgba(238,187,204,0.7);
  border: 1px solid #dddddd;
  position: absolute;
  padding: 5px 15px;
  text-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.noticeBG {
  position: absolute;
  left: 0px;
  top: 36px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.noticeBG  > li {
  padding: 12px 17px;
  font-size: 13px;
}
.noticeBG > li > a span {
  float: right;
  padding-left:18px;
}
.noticeBG  > li:nth-child(even) {
background-color:rgba(238,187,204,0.7) ;
}
.noticeBG  > li:hover {
  background-color: lightpink;
}
.gallery {

  position: relative;
  
padding-left: 20px;
  height: 180px;

  display: flex;


  
}
.gallery > a {
  background-color: rgba(238,187,204,0.7);
  border: 1px solid #dddddd;
  position: absolute;
  padding: 5px 15px;
  text-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  top: 5px;
}
.gallery > ul  {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  position: absolute;
  display: flex;
top: 36px;
}
.galleryBG {
  background-color: #000000;
  width: 270px;
  height: 160px;
  align-items: center;
  justify-content: space-around;
}
.galleryBG > li:hover {
opacity: 0.5;

}
.banner > img {
  background-color: lightskyblue;
  position: absolute;
  top: 5px;
  right: 0px;
  height: 190px;
  width: 27%;
}
footer {
  position: absolute;
  background-color: #eeeeee;
  width: 790px;
  height: 100px;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.footerlogo > img {
  width: 200px;
  height: 40px;
}
.footerMenu {
  position: absolute;
  right: 0;

width: 600px;
height: 50px;
align-items: center;
justify-content: space-between;
}
.footerMenu > ul {
  padding-top: 15px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footerMenu > ul > li:hover {
  color: rgba(238,187,204,1);
}
.footertext {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;

  width: 600px;
  height: 50px;
  padding-top: 15px;
}
.modalWrap {
  display: none;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 500px;
  height: 300px;
  background-color:rgba(238,187,204,1);
  text-align: center;
  z-index: 1;
}
.modalWrap.active{
  display:block;
}
.modal > h1 {
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 30px;
}
.modal > p {
  line-height: 30px;
  padding-bottom: 40px;
}
.btn {
  width: 100px;
  height: 50px;
}